<div id="todo_list">
  <ol
    class="sortable"
    hx-post="{% url 'todo:rerank' %}"
    hx-include="[name='todo_order']"
    hx-trigger="end"
  >
    {% for todo in todos %}
    <li>
      <div
        id="todo_{{todo.pk}}"
        class="clickable"
        hx-get="{% url 'todo:todo_details_partial' todo.pk %}"
        hx-trigger="click"
        hx-target="this"
        hx-swap="outerHTML"
      >
        <div>{{todo.title}}</div>
        <input type="hidden" name="todo_order" value="{{todo.pk}}" />
      </div>
    </li>
    {% endfor %}
  </ol>
</div>
